#home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

#home h1{
    font-family: 'Bacasime Antique', serif;
}
#home p{
    font-family: 'Dancing Script', cursive;
}

#contact{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    padding: 100px;
    justify-content: center;
}
.l1{
    grid-area: 1 / 1 / 1 / 1;
    font-size: 70;
}
.l2{
    margin-bottom: 40px;
    grid-area: 2 / 1 / 2 / 1;
    font-size: 26;
    font-family: 'Times New Roman', Times, serif;
}
.right{
    margin-left: 150px;
    margin-top: 50px;    
    grid-area: 1 / 2 / span 1 / 2;
}
@media (max-width: 767px) {
    #contact {
      display: block; /* Change to block layout for mobile */
      margin: 20px; /* Reduce margin for mobile */
      padding: 20px; /* Reduce padding for mobile */
    }
    
    .l1 {
      font-size: 40px; /* Decrease font size for mobile */
    }
    
    .l2 {
      font-size: 18px; /* Decrease font size for mobile */
    }
    
    .right {
      margin-left: 0; /* Remove left margin for mobile */
      margin-top: 20px; /* Adjust top margin for mobile */
      grid-area: initial; /* Remove grid area for mobile */
    }
  }
 @media (max-width: 991.98px) {
    .custom-toggler {
      margin-left: auto;
      float: right;
    }
  }
